Flask
flask-socketio
pymongo
requests
requests[socks]
httpx[http2]
httpx[socks]
python-nmap
psutil
beautifulsoup4
jsbeautifier
playwright
openai
openai-agents
scikit-learn
paramiko
nltk
mem0ai
mem0ai[nlp]
faiss-cpu
sentence_transformers
mitmproxy